@mixin font-face($font-family, $font-path, $font-weight, $font-format) {
  @font-face {
    font-family: #{$font-family};
    src: url('#{$font-path}') format('#{$font-format}');
    font-weight: #{$font-weight};
  }
}
